<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}" />
          <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
    <title>Infinity code</title>
  </head>
  <body>
    <div class="container">
       <div
        class="header"
        style="background-image: url('{% static 'img/login/figure_blure.png' %}')"
      >
        <a href="{% url 'index' %}" class="logo">INFINITY CODE</a>
        <nav>
          <ul>
            <li>
              <a href="{% url 'catalog' %}"><i class="fas fa-book"></i> Каталог</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a href="#"><i class="fas fa-bars"></i> Меню</a>
              <ul>
                <li>
                  <a href="{% url 'users:profile' %}"
                    ><i class="fas fa-user"></i> Профиль</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fas fa-book-open"></i> Мои курсы</a>
                </li>
                <li>
                  {% if user.is_superuser %}
                  <a href="{% url 'admin:index' %}"
                    ><i class="fas fa-cogs"></i> Админ-панель</a
                  >
                  {% endif %}
                </li>
                <li>
                  <a href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'users:login' %}"
                ><i class="fas fa-sign-in-alt"></i> Войти</a
              >
            </li>
            {% endif %}
          </ul>
           <form id="search-form">
            <input type="text" id="search-input" placeholder="Поиск..." />
            <button type="submit">Поиск</button>
          </form>
        </nav>
      </div>
      <div class="main">
        <div class="product-grid">
        {% for product in courses %}
        <div class="product-card">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
    <script src="{% static 'js/search.js' %}"></script>
  </body>
</html>
