<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/course_detail.css' %}">
    <title>{{ course.name }} - Детали курса</title>
</head>
<body>
    <div class="container">
        <h1>{{ course.name }}</h1>
        <img src="{{ course.image.url }}" alt="{{ course.name }}">
        <p>{{ course.description }}</p>
        <a href="{% url 'theory_and_tasks' course.id %}">Перейти к теории и практическим задачам</a>
    </div>
</body>
</html>
