{% extends 'InfinitySchool/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block form %}
<form class="forms" action="#">
    <h1>Вход</h1>
    <input type="text" placeholder="Логин" required />
    <input type="password" placeholder="Пароль" required />
    <button type="submit" class="btn">Войти</button>
    <a href="forget_password.html">Забыли пароль?</a>
    <p>
        Еще нет аккаунта?
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </p>
</form>
{% endblock %}
