{% extends 'InfinitySchool/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block form %}
 <form class="forms" action="#">
            <h1>Регистрация</h1>
            <input type="text" placeholder="Имя" required />
            <input type="text" placeholder="Фамилия" required />
            <input type="email" placeholder="Email" required />
            <input type="password" placeholder="Пароль" required />
            <input type="password" placeholder="Подтвердите пароль" required />
            <button type="submit" class="btn">Зарегистрироваться</button>
            <p>
              Уже есть аккаунт?
              <a href="{% url 'login' %}">Войти</a>
            </p>
          </form>
{% endblock %}
